.TwoSidesContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    width: 60%;
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }

  .textSection2 {
    flex: 1;
    max-width: 50%;
    justify-content: right;
  }

  .imageSection2 {
    flex: 1;
    max-width: 5%;
    display:flex;
    justify-content: left;
    width: 5%;
  }

  .imgbody2 {
    max-width: 400px;
  }